.task{
    background-color: #5b6078;

    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    justify-content: center;
    justify-items: center;

    padding: 0.4em;

    margin-right: 0;

    border-radius: 15px;
    width:90%
}

.task-box{
    background-color: #363a4f;

    width: 100%;

    border-radius: 15px;
    display:flex;
    flex-direction: column;

    align-items: center;

    padding:0.5em;
}

.task-button{
    background-color: #ed8796;
    border: transparent;
    width: 100%;

    cursor: pointer;

    border-radius: 30px;
}
.task-button:hover{
    background-color: #a3525e;
}
